*{
    padding: 0;
    margin: 0;
}
.navbar 
{
  background-color: brown;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.nav-links
{
  list-style: none; 
  display: flex;
  text-align: center;
  gap: 80px;
  margin-left: 0px;
}

.nav-links a 
{
color: bisque;
text-decoration: none;
font-size: 20px;
}

.nav-links a:hover 
{
  text-decoration: underline;
}
h1{
    color:brown;
    font-family: 'Algerian';
    font-size: 80px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo{
    color:bisque;
    font-family: 'Brush Script MT' ;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-right: 200px;
}
.marquee {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: brown;
}
.marquee p {
    margin: 0;
    line-height: 1.2;
    font-size: 20px;
    padding: 0;
    animation: moveText 12s linear infinite;
}
.marquee p::after {
  content: "This portfolio is under continuous development. More updates coming soon....";
  padding-left: 500px;
}
@keyframes moveText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee p:hover {
  animation-play-state: paused;
}   
button{
    color:white;
    background-color:burlywood;
}
html, body {
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
p{
    line-height: 20px;
}
.home-intro{
    font-size: 20px;
    margin: 10px;
}
.home-details{
    font-size: 20px;
    margin: 10px;
    margin-left: 10px;
}
.home-intro ul {
  list-style: circle;
  padding-left: 20px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 15px 35px;
  background-color: brown;
  color: bisque;       
  text-decoration: none; 

  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;

  margin-left: 25px;
}

.btn:hover {
  background-color: brown;
  transform: scale(1.1);
}

#details{
    padding: 10px;
}
.footer{
  margin-top: auto;
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman';
  color: bisque;
  background-color: brown;
  padding: 10px;

  margin-top: auto;  
}
#cprt{ 
    font-size: 20px;
}
#fts{
    font-size: 16px;
}
#ind{
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills-heading {
  font-family: 'Times New Roman';
  font-size: 36px;
  text-decoration: none
}

.skills-page {
  text-align: center;
}

.skills-container {
  justify-content: center;
  gap: 20px;
}

.skills-container:hover {
  color: burlywood;
}
.prgm{
    text-align: center;
    height: 175px;
    width: 175px;
    background-color: burlywood;
    border-width: 2px;
    border-style: dotted;
    border-color: brown;
    border: 2px solid brown;
    border-radius: 10px; /*For circle make square use radius as 50%*/
    display: inline-block;
    margin: 30px;
    margin-right: 50px;
}
#BoxA{
    background-image: url("../images/c.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: bisque;
    border: none;
}
#BoxB{
    background-image: url("../images/cpp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: bisque;
    border: none;
}
#BoxC{
    background-image: url("../images/java.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    background-color: bisque;
    border: none;
}   
#BoxD{
    background-image: url("../images/py.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;    
    background-color: bisque;
    border: none;
}
#BoxE{
    background-image: url("../images/html.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;    
    background-color: bisque;
    border: none;
}
#BoxF{
    background-image: url("../images/css.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;    
    background-color: bisque;
    border: none;
}
#BoxG{
    background-image: url("../images/jss.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;    
    background-color: bisque;
    border: none;
}
.about-section{
    font-size: 20px;
}
.quote{
  font-style: italic;
}
.contact-section{
    font-size: 20px;
}
.project-details{
    font-size: 20px;
}
.projects-section{
    font-size: 20px;
}
.education-section{
    font-size: 20px;
}