h1{
    color:indigo;
    text-decoration: goldenrod wavy underline;
    font-family: 'Algerian';
    font-size: 100px;
    text-align: center;
}
.header{
    color:crimson;
    text-align: center;
    font-size: 24px;
}
button{
    color:white;
    background-color:lightsalmon;
}
body{
    background-color: bisque;
}

p{
    line-height: 20px;
}
#details{
    font-size: 24px;
}
div{
    text-align: center;
    height: 280px;
    width: 280px;
    background-color: burlywood;
    border-width: 2px;
    border-style: dotted;
    border-color: brown;
    border: 2px solid brown;
    border-radius: 10px; /*For circle make square use radius as 50%*/
    display: inline-block;
    margin: 30px;
    margin-right: 50px;
}
button{
    margin-left: 25px;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
}
button:hover{
    background-color: brown;
    transform: scale(1.1);
}
a{
    margin-left: 25px;
    font-size: 20px;
}
#Box1{
    background-image: url("a.jpg");
    background-size: cover;
}
#Box2{
    background-image: url("b.jpg");
    background-size: cover;
}
#Box3{
    background-image: url("c.jpg");
    background-size: cover;
}   
#Box4{
    background-image: url("b.jpg");
    background-size: cover;
}